<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <h1>Server started</h1>

    <form action="/addData" method="post">
      <input type="text" placeholder="Enter your name" name="name" />
      <input type="text" placeholder="Enter your city" name="city" />
      <button type="submit">submit</button>
    </form>

    <table border="1" width="70%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.map((e,i)=>{%>
        <tr>
          <td><%=e.id%></td>
          <td><%=e.name%></td>
          <td><%=e.city%></td>
          <td>
            <a href="/editData/<%=e.id%>"><button>Edit</button></a>
          </td>
          <td>
            <a href="/deleteData?id=<%=e.id%>"><button>Delete</button></a>
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>
  </body>
</html>
